<!DOCTYPE html>
<html>

<head>
    <title>Form Prediction</title>
</head>

<body>
    <form id="prediction-form">
        <input type="text" id="text-input" placeholder="Enter text">
        <button type="button" onclick="predictLSTM()">Predict LSTM</button>
        <button type="button" onclick="predictCNN()">Predict CNN</button>
    </form>

    <h3>Prediction Result:</h3>
    <p id="result-text"></p>
    <p id="result-sentiment"></p>
    <p id="result-confidence"></p>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        function predictLSTM() {
            var text = $('#text-input').val();

            $.ajax({
                type: 'POST',
                url: '/api/predict-lstm',
                contentType: 'application/json',
                data: JSON.stringify({ 'text': text }),
                success: function (response) {
                    $('#result-text').text('Text: ' + response.text);
                    $('#result-sentiment').text('Sentiment: ' + response.sentiment);
                    $('#result-confidence').text('Confidence: ' + response.confidence);
                }
            });
        }

        function predictCNN() {
            var text = $('#text-input').val();

            $.ajax({
                type: 'POST',
                url: '/api/predict-cnn',
                contentType: 'application/json',
                data: JSON.stringify({ 'text': text }),
                success: function (response) {
                    $('#result-text').text('Text: ' + response.text);
                    $('#result-sentiment').text('Sentiment: ' + response.sentiment);
                    $('#result-confidence').text('Confidence: ' + response.confidence);
                }
            });
        }
    </script>
</body>

</html>